.analytics {
    position: fixed;
    top: $padding/2;
    right: $padding;
    width: 300px;
}
.analytic {
    margin-top: $padding;
    h2 {
        font-weight: bold;
        margin-bottom: $padding/2;
    }
    p {
        margin: $padding/2 0px;
        display: flex;
        justify-content: space-between;
        span {
            color: $cAccent;
        }
    }
}
