.wrapper {
    overflow: hidden;
    section {
        text-align: center;
        height: 100vh;
        width: 100vw;
        main {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            h2{
                font-size: 2rem;
                font-weight: bold;
                color: white;
                margin-bottom: 1rem;
            }
            p{
                line-height: 1.5em;
                color: white;
            }
            strong{
                font-weight: bold;
            }
            a{
                line-height: 3.5em;
                font-weight: bold;
                color: white;
                text-transform: uppercase;
            }
        }
        &:nth-child(1){
            background: #d35400;
        }
        
        &:nth-child(2){
            background: #1abc9c;
        }
        
        &:nth-child(3){
            background: #2980b9;
        }
        
        &:nth-child(4){
            background: #27ae60;
        }
        
        &:nth-child(5){
            background: #2c3e50;
        }
    }
}

.arrow{
    color: white;
    position: fixed;
    top: 45vh;
    left: 15px;
    font-size: 80px;
    &.arrow-right{
        left: auto;
        right: 15px;
    }
}